table td:nth-child(odd) {
    background: yellow !important;
    white-space: nowrap !important;
    width: 1% !important;
    max-width: 1% !important;
    padding-right: 8px !important;
}

table td:nth-child(even) {
    background: blue !important;
    width: auto !important;
}

/* Rotating background color as a sanity check. */
